* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-collapse: collapse;
  list-style: none;
}

.no-focus:focus {
  outline: none;
}

.go-to-login {
  background-color: #222222;
  color: white;
}

.go-to-login:hover {
  transition: 0.2s ease-out;
  background-color: #4e4e4e;
}
.go-to-login:not(:hover) {
  transition: 0.2s ease-out;
}
.go-to-signup {
  background-color: white;
  color: #222222;
}

.go-to-signup:hover {
  transition: 0.2s ease-out;
  background-color: #222222;
  color: white;
}
.go-to-signup:not(:hover) {
  transition: 0.2s ease-out;
}